<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{planname}}</h5>
      <h6 class="card-price text-center">{{currency}}<span class="period">{{period}}</span></h6>
      <hr>
      <ul class="fa-ul">
        <li *ngFor='let x of offers'><span class="fa-li"><i class="fas fa-check"></i><strong>{{x.offer}}</strong></span></li>
                 <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>{{offers2}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{offers3}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{offers4}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{offers5}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{offers6}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{offers7}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{offers8}}</li> -->
      </ul>
      <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
    </div>
  </div>

