<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" *ngFor="let element of priceobj ">
            
          <app-card1 [planname]="element.planName" [currency]="element.currency" [period]="element.period" [offers]="element.offers"></app-card1>
          </div>
        
      <!--  <div class="col-lg-4">
        <app-welcome2 [priceObj]="data[0]"></app-welcome2>
        </div>
        <div class="col-lg-4">
        <app-welcome2 [priceObj]="data[1]"></app-welcome2>
        </div>
        <div class="col-lg-4">
        <app-welcome2 [priceObj]="data[2]"></app-welcome2>
        </div>     -->
      </div>
    </div>
  </section>